.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    width: 30%;
    justify-self: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px gray;;
    
}

.btnStyle{
    
    border-radius: 10px;
    width: 50%;
    height: 35px;
    margin-bottom: 10px;
    background-color: lightblue;
    font-size: 14px;
    opacity: 0.8;
}

.label-error{
    font-size: 12px;
    color: red;
    background: darksalmon;
    width: fit-content;
    height: fit-content;
    padding: 0 5px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 10px;
}

hr{
    border: 2px;
    border-top: 2px solid black;
}